

<html>
<head>
<title>
Home
</title>
<!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css')}}"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
<!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js')}}"></script>
 <section>    
<div class="row" style="margin-top:2%">

<div class="col s2">
  <ul id="slide-out" class="row side-nav fixed #ffff00 yellow accent-2">
  <a class="waves-effect waves-light btn modal-trigger #ffff00 yellow accent-2" href="#add" style="margin-top:25%">Add Friend</a>
  <a class="waves-effect waves-light btn modal-trigger #ffff00 yellow accent-2" href="#friends" style="margin-top:7%">View Friends</a>
  <a class="waves-effect waves-light btn modal-trigger #ffff00 yellow accent-2" href="#change" style="margin-top:7%">Change Password</a>
  <a class="waves-effect waves-light btn modal-trigger #ffff00 yellow accent-2" href="{{ url_for('checkin') }}" style="margin-top:7%">Check</a>
  <a class="waves-effect waves-light btn modal-trigger #ffff00 yellow accent-2" href="{{ url_for('map') }}" style="margin-top:7%">Map</a>
  <a class="waves-effect waves-light btn modal-trigger #ffff00 yellow accent-2" href="{{ url_for('mapimg') }}" style="margin-top:7%">Map with image</a>
  <a class="waves-effect waves-light btn modal-trigger #ffff00 yellow accent-2" href="{{ url_for('logout') }}" style="margin-top:7%">Logout</a>
  
  </ul>
</div>

 <div id="add" class="modal">
    <div class="modal-content">
      <h4 class="center">Add Friend</h4>
	</div>
	<div>
      <form action="{{ url_for('add_friend') }}" method="post">
        <div class="input-field col s10 offset-s1">
          <input type="text" id="fn" name="fn" class="validate" >
          <label for="fn">Friend's Phone Number</label>
        </div>
        <br>
    </div>
    <div class="modal-footer">
	  <div class="center">
      <button class="btn red darken-1 large waves-effect waves-light col offset-s1" style="margin-top:3%" type="submit" name="action">Submit
	   <i class="mdi-content-send right"></i></button>
	  </div>
    </div>
  </div>
  
  
  <div id="change" class="modal">
    <div class="modal-content">
      <h4 class="center">Change Password</h4>
	</div>
	<div>
      <form action="{{ url_for('password') }}" method="post">
        <div class="input-field col s10 offset-s1">
          <input type="text" id="npw" name="npw" class="validate" >
          <label for="npw">Enter new password</label>
        </div>
		<div class="input-field col s10 offset-s1">
          <input type="text" id="cpw" name="cpw" class="validate" >
          <label for="cpw">Confirm password</label>
        </div>
        <br>
    </div>
    <div class="modal-footer">
	  <div class="center">
      <button class="btn red darken-1 large waves-effect waves-light col offset-s1" style="margin-top:3%" type="submit" name="action">Submit
	   <i class="mdi-content-send right"></i></button>
	  </div>
    </div>
  </div>
  
  
  
 
  </div>
  <script>
  $(document).ready(function(){
    $('.modal-trigger').leanModal();
  });
</script>
</section>  

<div class="row" style="margin-top:2%">
    <div class="col s12">
      <ul class="tabs" >
        <li class="tab col s3 #ffff00 yellow accent-2 " ><a class="active #000000 black-text"  href="#upload">Upload QR code</a></li>
        <li class="tab col s3 #ffff00 yellow accent-2" ><a class="#000000 black-text" href="#message">Send SOS Message</a></li>
      </ul>
    </div>
	
    <div id="upload" class="col s12" >
	<div class="center" style="margin-top:2%">
	<h3 class="header light black-text darken-1">Upload QR Code</h3>
	</div>
	<form action="{{ url_for('upload') }}" method="post" enctype=multipart/form-data style="margin-top:0%">
	<div class="col s6 offset-s2 card-panel hoverable" style="margin-left:25%">
	<div class="file-field input-field">
      <input class="file-path validate " type="text"/>
	  <div>
	  <input type="file" name="file"/>
      </div>
	  </div>
	  </div>
	  
	  <div class="center">
      <button class="btn red darken-1 large waves-effect waves-light col offset-s1" style="margin-top:3%" type="submit" name="action">Submit
	   <i class="mdi-content-send right"></i></button>
	  </div>
	  </div>
	
    <div id="message" class="col s12" >
	<div class="center" style="margin-top:2%">
	<h3 class="header light black-text darken-1">Send SOS Message</h3>
	</div>
	<div class="row">
	<div class="center">
	<a class="btn-floating btn-large waves-effect waves-light red" href="{{ url_for('message') }}"><i class="mdi-action-settings-remote" href="{{ url_for('message') }}"></i></a>
	</div></div>
	</div>
    
  </div>
  
  <div id="friends" class="modal">
    <div class="modal-content">
      <div class="center">
	  <h3>Friends</h3>
    <table class="centered hoverable">
      {% for entry in entries: %}
          <tr><td>{{ entry.num }}</td></tr>
      {% else: %}
          <tr><td>No friends yet</td></tr>
      {% endfor %}
	  </div>
    </div>

  </div>
 
  <script>
   $(document).ready(function(){
    $('ul.tabs').tabs('select_tab', 'tab_id');
  });
</script>
</body>
</html>


